*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block; /*sa le faca pe orizontala*/
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: azure;
    text-decoration: none; /*sa nu mi puna linia*/
    font-size: 20px;
    
}

.nav-links ul li::after{
    content: '';
    width: 0%; 
    height: 2px;
    background: #e65c3a;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.dropdown{
    display: none; /* Hide by default */
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(53, 59, 122);
    text-align: center;
    z-index:1; /*ca sa fie meniul dropdown deasupra la poze cand tin cursorul*/
}
.nav-links ul li:hover .dropdown{
    display: block; 
}
.dropdown ul{
    display: block;
    margin: 10px;
}
.dropdown ul li{
    width: 100px;
    padding: 10px;
}
.dropdown ul li:nth-of-type(1) {
    background-color: rgb(45, 8, 110);
 }
 .dropdown ul li:nth-of-type(2) {
     background-color: rgb(5, 20, 96);
  }
body{
    background-image: linear-gradient(rgba(89, 113, 165, 0.5),
    rgba(89, 113, 165, 0.5)),url(./poze/newsphoto.jpg);
    background-size: contain;

}
@keyframes sliding {
    from {
        transform:translateX(0);
    }
    to {
        transform:translateX(-100%);
    }
}
.poze{
    overflow: hidden; /*sa dispara scroll ul orizontal de jos*/
    padding: 10px 0px;
    background: rgb(255, 255, 255,0.6);
    white-space: nowrap;/*sa ramana toate pe linie, indiferent de cum incap*/
    
}
.poze-slide{
    display:inline-block;
    animation: 15s sliding infinite linear;
}
.poze-slide img{
    height:70px;
    margin: 0 5px;
}
.art{
    width:40%;
}
iframe {
    border-radius: 20px;
    width: 50px;
    height: 50px;
    transition: width 1s ease-in-out 0.5s, height 1s ease-in-out 1s;
  }
  
  iframe:hover {
    width: 40%;
    height: auto;
  }
section{
margin: auto;
  width: 50%;
  
  padding: 10px;
  color:white;
  text-align: center;

}
hr{
    width:55%;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
@media only screen and (max-width: 768px) {
    nav {
      padding: 2% 1%;
    }
    .nav-links ul li {
      padding: 8px 6px;
    }
    .poze-slide img {
      height: 50px;
      margin: 0 3px;
    }
    .art {
      width: 70%;
    }
    section {
      width: 90%;
    }
    nav {
        flex-direction: column;
        padding: 2% 0;
    }
  }
  