*{
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
    
}
body{
    width: 100%;
    background-image: linear-gradient(rgba(89, 113, 165, 0.5),
    rgba(89, 113, 165, 0.5)),url(./poze/marv1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block; /*sa le faca pe orizontala*/
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: azure;
    text-decoration: none; /*sa nu mi puna linia*/
    font-size: 20px;
    
}

.nav-links ul li::after{
    content: '';
    width: 0%; 
    height: 2px;
    background: #e65c3a;
    display: block;
    margin: auto; 
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.dropdown{
    display: none; /* ascunde */
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(53, 59, 122);
    text-align: center;
}
.nav-links ul li:hover .dropdown{
    display: block; 
}
.dropdown ul{
    display: block;
    margin: 10px;
}
.dropdown ul li{
    width: 100px;
    padding: 10px;
}
.dropdown ul li:nth-of-type(1) {
   background-color: rgb(45, 8, 110);
}
.dropdown ul li:nth-of-type(2) {
    background-color: rgb(5, 20, 96);
 }
.textcentru{
    text-align: center;
    padding-top: 200px;
    color:rgb(255, 255, 255);

}
.textcentru h1{
    font-size:50px;
}
.textcentru p{
    font-size:20px;
    margin-top:30px;
    margin-bottom:30px;
    
}
.textincepe{
    text-decoration: none;
    color: white;
    display:inline-block;
    border: 1px solid white;
    padding: 10px 20px;
    transition:1s;
}
.textincepe:hover{
    background:#e65c3a;
    width: 10%;
}
.imagine{
    display:inline-block;
    margin-left:20%;
    margin-top: 80%;
    width: 20px;
    height: 20px;
 
}
#figure{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: flex-end;
    color:white;
    font-size: small;
   
}

@media only screen and (max-width: 768px) {
    #figure {
      flex-direction: column; /* aliniaza imaginile vertical pe ecranele mici */
      align-items: center; /* pe centru */
    }
    
    .imagine {
      width: 80px; 
      height: 80px; 
      margin: 10px auto; /*  marginile imaginilor pentru a le centra  */
      margin-top: 20px; /* spatiu intre imaginile și textul de deasupra*/
    }
    .textcentru {
      padding-top: 50px; /*spatiul de deasupra mai mic al textului pentru a face loc pentru imaginile deasupra lui */
    }
    nav {
        flex-direction: column;
        padding: 2% 0;
    }
}
